---
import Layout from '../layouts/Layout.astro';
const pageTitle = "404 - Page Not Found";

import { Image } from "astro:assets"
import img_404 from '../assets/404.png'
---
<Layout pageTitle={pageTitle}>
    <div class="lost">
        <h1 class="lost__header">404</h1>
        <Image src={img_404} alt="Lost bear cartoon" class="lost__image" />
        <p class="lost__body">Oops! The page you're looking for doesn't exist.</p>
        <p class="lost__body">It looks like you took a wrong turn. Don't worry, it happens to the best of us!</p>
        <p class="lost__body"><a class="lost__link" href="/" aria-label="Return to Home Page">Return to Home</a></p>
    </div>
</Layout>