---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Caleb Frankenberger";
const metaDescription = "Learn more about Caleb Frankenberger, his education, projects, hobbies, and interests.";
---
<Layout pageTitle={pageTitle} metaDescription={metaDescription}>
    <div class="gif">
        <img class="portrait" width="331" height="284" alt="Drawing of Caleb Frankenberger" src="/portrait.png"/>
    </div>
    <div class="content">
        <h1 class="center" id="about-me">About Me</h1>
        
        <h2 id="introduction">Introduction</h2>
        
        <p>Hi! I’m Caleb, from Virginia, where I live with my fiancé Megan and our two cats, Leo and Fiona. I’m passionate about learning and exploring new things, particularly in the fields of science and technology.</p>

        <p class="center"><a href="/posts/cat-pics"><button class="btn" aria-label="View Cat Pictures">Cat Pictures</button></a></p>
        
        <h2 id="education">Education</h2>
       
        <p>I&#39;m currently studying at Radford University, majoring in Physics with a minor in Mathematics. From a young age, I’ve always been fascinated by how things work. I believe that my choice of major will help me better understand the world around me.</p>

        <h2 id="projects">Projects</h2>

        <p>I'm proud of several projects, including:</p>
        
        <p>
            <strong>Newtonian Telescope Construction:</strong> I 3D printed all the parts, purchased hardware and mirrors, then assembled and calibrated the telescope myself. 
            <a class="see_more" href="/projects/telescope" aria-label="See more about the Newtonian Telescope Construction project">See more...</a>
        </p>

        <p>
            <strong>Cellular Automata Simulator:</strong> This project uses a simple mathematical formula to simulate colonies of living organisms. 
            <a class="see_more" href="/projects/cellular-automata" aria-label="See more about the Cellular Automata Simulator project">See more...</a>
        </p>

        <p>
            <strong>Linear Feedback Shift Register Program:</strong> This program generates random numbers to encrypt and decrypt images. 
            <a class="see_more" href="/projects/lfsr-program" aria-label="See more about the Linear Feedback Shift Register Program project">See more...</a>
        </p>

        <p>
            <strong>Farnsworth-Hirsch Fusor:</strong> I am currently building a Farnsworth Fusor, a device that uses an electric field to heat ions to a temperature where they undergo nuclear fusion. The fusor works by creating a large potential difference in voltage between a central metal grid and the conductive body of a vacuum chamber. This setup accelerates deuterium ions towards the center, where they can collide and potentially fuse. Although not an efficient method for producing energy, the fusor demonstrates the fascinating process of nuclear fusion. 
            <a class="see_more" href="/projects/fusor" aria-label="See more about the Farnsworth-Hirsch Fusor project">See more...</a>
        </p>

        <h2 id="hobbies-and-interests">Hobbies and Interests</h2>

        <p>
            <strong>Hiking & Outdoors:</strong> If you know me, you know I love hiking. Recently, I went on a backpacking trip to Grayson Highlands, VA (<a href="/posts/backpacking-trip" aria-label="See photos from the backpacking trip to Grayson Highlands, VA">See backpacking photos</a>). One of my favorite things to do is go camping with Megan. In 2021, I made a custom truck camping shell setup, and we went on a week-long adventure across West Virginia, Kentucky, Tennessee, and North Carolina before returning to Virginia (<a href="/posts/truck-camping" aria-label="See details about the truck camping adventure">Truck camping</a>). Another outdoor activity I enjoy is kayaking, which I usually do with my Dad and brothers (Jack and Sam).
        </p>

        <p>
            <strong>Woodworking:</strong> When I was 16, I wanted a new desk to put my computer setup on. With no money to buy one, and a lack of free options, I took a trip to Lowe’s to get their unneeded pallets. This began my woodworking journey, and in 2022 I finally bought the tools to do it properly (table saw, clamps, etc). I am never happy with the price and quality available with pre-built furniture, and I enjoy creating custom pieces like coffee tables, TV stands, etc. I also like making personalized gifts such as jewelry boxes, cutting boards, and chess boards for my friends and family (<a href="/posts/woodworking-projects" aria-label="Check out my woodworking projects">Check out my projects</a>).
        </p>

        <p>
            <strong>Music:</strong> I love listening to music. I listen to almost every genre. Some of my favorite artists include:
            <ul>
                <li>Tyler the Creator</li>
                <li>Caamp</li>
                <li>Greta van Fleet</li>
                <li>Still Woozy</li>
                <li>Watchhouse</li>
                <li>Sturgill Simpson</li>
                <li>John Mayer</li>
                <li>Tyler Childers</li>
                <li>Glass Animals</li>
            </ul>
            In terms of playing music, I know how to play the French Horn and Trumpet. If I ever have enough free time, I would love to learn piano and guitar.
        </p>

        <p>
            <strong>Car work:</strong> When things break, I like to try to fix them myself to save money. I have learned a lot about working on cars from the many I have owned over the years.
        </p>

        <p>
            <strong>Misc:</strong> I also enjoy playing video games such as Minecraft and Valorant. 3D printing is another hobby of mine; the idea of being able to print any shape out of a spool of plastic is very cool to me.
        </p>

        <h2 id="personal-philosophy-and-goals">Personal Philosophy and Goals</h2>
        <p>My career goals are currently in the air as I focus on getting through college and seeing where life takes me afterward. I am open to exploring various opportunities and finding a path that aligns with my interests and skills.</p>
        <p>Recently, I switched to using a flip phone. I believe technology is taking over every aspect of our lives, and more people should make an effort to minimize their use. This decision has definitely improved my life. You can read more about my thoughts on this <a href="/posts/digital-usage" aria-label="Read more about my thoughts on digital usage">here</a>.</p>
        
        <h2 id="technical-skills">Technical Skills</h2>
        <h3>Programming and Development</h3>
        <ul>
            <li>Languages: Proficient in Java; experienced with HTML, CSS, and basic JavaScript; participated in AI research project using Python.</li>
            <li>Tools and Environments: Prefer IntelliJ for Java development and VSCode for web development; familiar with version control using Git/GitHub.</li>
            <li>Systems: Experienced in working with Linux, Windows, and macOS.</li>
        </ul>

        <h3>Hardware and Technical Skills</h3>
        <ul>
            <li>Soldering and Electrical Work: Experience in soldering and wiring electrical circuits and repairing old devices.</li>
            <li>Tool Usage: Proficient in using all types of saws and most power tools, gained through various DIY and woodworking projects.</li>
        </ul>

        <h3>Data Analysis and Statistical Techniques</h3>
        <ul>
            <li>Current Learning: Actively learning R programming, regression analysis, and other statistical techniques to enhance data analysis capabilities.</li>
        </ul>
        
        <h2 id="work-experience">Work Experience</h2>
        
        <p>I have had many jobs over the years, and I believe they have all given me lots of good perspectives and experiences. If you want my official resume, you can find it here. Below are my lasting impressions these jobs left on me:</p>

        <ul>
            <li class="work-item">
                <strong>Pizza Chef:</strong> My first job was at Brickhouse Pizza. I started off washing dishes and moved on to making pizzas by the time I left for college. Had fun here, worked with friends.
            </li>
            <li class="work-item">
                <strong>Chophouse Manager:</strong> I attended Virginia Tech for one year, and while I was there, I worked in JP’s chophouse. I eventually became a student manager who helped schedule employees and manage our small shop. My coworkers were great here. The place shut down during COVID, and I didn’t return to VT afterward.
            </li>
            <li class="work-item">
                <strong>Target Grunt:</strong> Got carts. Stocked shelves. Scanned groceries. Not much to say about this job.
            </li>
            <li class="work-item">
                <strong>Radford Army Ammunition Plant Security Guard:</strong> Don’t get me started.
            </li>
            <li class="work-item">
                <strong>IT Technician:</strong> I currently work here and love getting to put my computer skills to use as I help people around the office with various printer and computer-related troubles they have.
            </li>
            <li class="work-item">
                <strong>Student Researcher (AI):</strong> Under the guidance of Dr. Lahn, I am working on a project using LangChain, the Llama3 model from Ollama, and ChromaDB with Ollama embeddings. We are developing a pipeline to ingest PDF documents into a locally run Retrieval-Augmented Generation (RAG) system, allowing users to query for information specific to those documents.
            </li>
        </ul>

    </div>
</Layout>
