---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Caleb Frankenberger";
---
<Layout pageTitle={pageTitle}>
    <h1>More</h1>
    <h2>Resume</h2>
    <p>Click here to download a PDF of my resume</p>
    <h2>Contact Me</h2>
    <p>If you need to contact me, click the email icon on the bottom of this page!
    <h2>Website Description</h2>
    <p>Built with Astro, edited in VSCode, and developed with help from ChatGPT. Deployed using Netlify. Source code is available on my GitHub page.</p>
    </p>
</Layout>

