---
import ThemeIcon from './ThemeIcon.astro';
---
<div class="navbar">
    <div class="navbar__title">
        <a href="/">Caleb Frankenberger</a>
    </div>
    <div class="navbar__menu">
        <a href="/projects/">Projects</a>
        <a href="/posts/">Posts</a>
        <a href="/more/">More</a>
        <ThemeIcon />
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', () => {
    const iconLinks = document.querySelectorAll('.icon__link img');
    iconLinks.forEach((icon) => {
        const parent = icon.parentElement;
        if (parent) {
            const color = getComputedStyle(parent).color;
            icon.setAttribute('fill', color);
        }
    });
});
</script>